button {
    padding: 1em;
    border-radius: 10px;
    color: white;
    border-color: white;
    cursor: pointer;
    font-size: 0.7em;
}

img {
    padding: 1em;
}

.btn__container {
    display: flex;
    gap: 1em;
}

.prev-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 5%;
}

.prevCard {
    max-width: 150px;
}