body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(17, 75, 2);
    background: -moz-radial-gradient( circle, rgba(17, 75, 2, 1) 0%, rgba(9, 121, 14, 1) 50%, rgba(17, 75, 2, 1) 100%);
    background: -webkit-radial-gradient( circle, rgba(17, 75, 2, 1) 0%, rgba(9, 121, 14, 1) 50%, rgba(17, 75, 2, 1) 100%);
    background: radial-gradient( circle, rgba(17, 75, 2, 1) 0%, rgba(9, 121, 14, 1) 50%, rgba(17, 75, 2, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#114b02", endColorstr="#114b02", GradientType=1);
    background-size: cover;
    background-position: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}